<p-toast />
<div class="wrapper" *ngIf="!isActive else turnedOnTemplate">
  <div class="lbl-2fa">Enter password to turn on 2FA Mode</div>
  <div>
    <div class="el-2fa">
      <p-floatLabel>
        <p-password
          [(ngModel)]="password"
          name="password"
          aria-describedby="password-help"
          [toggleMask]="true"
          [feedback]="false"
          required
        />
      </p-floatLabel>
    </div>

    <div class="el-2fa">
      <p-button label="Verify" size="small" (onClick)="handle2FA()" />
    </div>
  </div>
  <p-dialog
    header="Two Factor Authentication"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '30vw' }"
  >
    <div>Scan QrCode by Google Authentication and remember your Secret Key</div>
    <div class="dialog-2fa">
      <img [src]="qrCode" alt="QR Code">
    </div>
    <div class="dialog-2fa-content">{{ otp2FA }}</div>
  </p-dialog>
</div>

<ng-template #turnedOnTemplate>
  <div class="lbl-2fa">You turned on 2FA mode</div>
</ng-template>
