<p-toast />

<div class="card">
  <div class="head-ts">
    <div>{{ currDate | date : "yyyy/MM/dd" }}</div>
    <div>
      <p-button
        class="head-ci"
        label="Check In Today"
        size="small"
        (onClick)="showCheckInDialog()"
      />
      <p-dialog
        header="Check In"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '25vw' }"
      >
        <div>
          <p-inputOtp [(ngModel)]="checkInToken" />
        </div>
        <br />
        <div class="btn-ci">
          <p-button
            icon="pi pi-check"
            label="Submit"
            (onClick)="subCheckIn()"
          />
        </div>
      </p-dialog>
    </div>
  </div>

  <br />
  <div class="ts-wrapper">
    <div class="mat-wrapper">
      <mat-tab-group
        [selectedIndex]="selectedIndex"
        (selectedIndexChange)="onTabChange($event)"
      >
        <mat-tab *ngFor="let day of dayOfWeek">
          <ng-template mat-tab-label>
            <div class="day-label">
              <span>{{ day.day }}</span>
              <br />
              <br />
              <span *ngIf="day.workingTime != '00:00'">{{
                day.workingTime
              }}</span>
            </div>
          </ng-template>
          <ng-container *ngFor="let timesheet of data">
            <div
              class="mat-content"
              *ngIf="isSameDay(timesheet.timesheet.logTime, currDate)"
            >
              <div class="mat-content-text">
                <b>[{{ timesheet.project.name }}]</b>
                {{ timesheet.task.name }} -
                <b style="color: #3186ff">Official</b>
                <br />
                {{ timesheet.timesheet.note }}
              </div>

              <div class="mat-wt-tag">
                <div class="mat-wt-child">
                  0{{ timesheet.timesheet.workingTime }}:00
                </div>
                <div class="mat-wt-child">
                  <p-badge
                    *ngIf="timesheet.timesheet.status == 'PENDING'"
                    value="Pending"
                    severity="secondary"
                  />
                  <p-badge
                    *ngIf="timesheet.timesheet.status == 'APPROVE'"
                    value="Approved"
                    severity="success"
                  />
                  <p-badge
                    *ngIf="timesheet.timesheet.status == 'REJECT'"
                    value="Rejected"
                    severity="danger"
                  />
                </div>
              </div>

              <div class="mat-btn">
                <div class="mat-btn-child">
                  <i class="pi pi-pencil" style="font-size: 1.2rem" (click)="editTimesheet(timesheet.timesheet.id)"></i>
                </div>
                <div class="mat-btn-child">
                  <i class="pi pi-trash" style="font-size: 1.2rem"> </i>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="mat-body">
            <div>
              <p-button
                icon="pi pi-plus"
                size="small"
                severity="success"
                (click)="showDialog(currDate)"
              />
            </div>

            <div>
              <p-button
                label="Submit Week for Approval"
                size="small"
                severity="success"
              />
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Total: {{ workingTime }}">
          <div class="mat-body">
            <div>
              <p-button
                icon="pi pi-plus"
                size="small"
                severity="success"
                (click)="showDialog(currDate)"
              />
            </div>

            <div>
              <p-button
                label="Submit Week for Approval"
                size="small"
                severity="success"
              />
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div class="card">
  <div class="head-sum">Summary</div>
  <br />
  <p-table
    [value]="[workingTime]"
    styleClass="p-datatable-gridlines"
    [scrollable]="true"
    class="wt-table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pFrozenColumn>Total</th>
        <th pFrozenColumn>Open Talk</th>
        <th
          *ngFor="let item of monthVal"
          style="max-width: 60px; text-align: center"
          [ngStyle]="{
            color:
              item.dOW === 'Sat' || item.dOW === 'Sun' ? '#FF0000' : 'black'
          }"
        >
          <div>{{ item.date }}</div>
          <div>{{ item.dOW }}</div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" style="text-align: center">
      <tr>
        <td pFrozenColumn style="background-color: #a5cde0">
          {{ workingTime }}
        </td>
        <td pFrozenColumn style="background-color: #a5cde0">0</td>
        <td
          *ngFor="let item of monthVal"
          style="text-align: center"
          [ngStyle]="{
            'background-color':
              item.dOW === 'Sat' || item.dOW === 'Sun' ? '#C3C3C3' : '#FDF7BB'
          }"
        >
          {{ getWorkingTimeByDay(item.date) }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card">
  <p-table
    [value]="data"
    styleClass="p-datatable-sm"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="timesheet.note">
          Note <p-sortIcon field="timesheet.note" />
        </th>
        <th pSortableColumn="timesheet.workingTime">
          Working time <p-sortIcon field="timesheet.workingTime" />
        </th>
        <th>Status</th>
        <th pSortableColumn="task.name">
          Task <p-sortIcon field="task.name" />
        </th>
        <th pSortableColumn="project.name">
          Project <p-sortIcon field="project.name" />
        </th>
        <th>Logging</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{ data.timesheet.note }}</td>
        <td>{{ data.timesheet.workingTime }}</td>
        <td>
          <ng-container [ngSwitch]="data.timesheet.status">
            <p-badge
              *ngSwitchCase="'APPROVE'"
              [value]="'Approved'"
              severity="success"
            />
            <p-badge
              *ngSwitchCase="'PENDING'"
              [value]="'Pending'"
              severity="info"
            />
            <p-badge *ngSwitchDefault [value]="'Rejected'" severity="danger" />
          </ng-container>
        </td>
        <td>{{ data.task.name }}</td>
        <td>{{ data.project.name }}</td>
        <td>{{ data.timesheet.logTime }}</td>
        <td>
          <p-button
            *ngIf="data.timesheet.status === 'APPROVE'"
            label="Approved"
            size="small"
            severity="info"
            [disabled]="true"
          />

          <p-button
            *ngIf="data.timesheet.status === 'REJECT'"
            label="Rejected"
            size="small"
            severity="secondary"
            [disabled]="true"
          />

          <div class="btn-element">
            <p-button
              *ngIf="data.timesheet.status === 'PENDING'"
              label="Edit"
              size="small"
              severity="warning"
              (click)="editTimesheet(data.timesheet.id)"
            />
          </div>

          <div class="btn-element">
            <p-button
              *ngIf="data.timesheet.status === 'PENDING'"
              label="Delete"
              size="small"
              severity="danger"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
