.card {
  margin-bottom: 25px;
  border-radius: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.head-ts {
  font-size: x-large;
  font-weight: 600;
  color: #555555;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::ng-deep .p-button-label {
  font-weight: 550;
  font-size: small;
}

.btn-ci {
  display: flex;
  justify-content: center;
}

::ng-deep .p-inputotp {
  justify-content: center;
}

::ng-deep .p-inputotp {
  gap: 1rem;
}

.head-sum {
  position: relative;
  font-size: larger;
  font-weight: 400;
}

.btn-element {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.wt-tag {
  color: var(--color-three);
}


.ts-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-wrapper {
  width: 900px;
}

::ng-deep .mdc-tab {
  width: 120px;
} 

::ng-deep .mat-mdc-tab-body-content {
  padding: 0px 20px;
}

::ng-deep .mat-mdc-tab-body-content .mat-content {
  display: flex;
  align-items: center;
  justify-content: baseline;
  height: 70px;
  margin-bottom: 10px;
}

::ng-deep .mat-mdc-tab-body-content .mat-content:hover {
  background-color: #F5F5F5;
}
::ng-deep .mat-mdc-tab-body-content .mat-content .mat-content-text {
  width: 60vw;
  font-size: 0.9rem;
  color: #555555;
}
::ng-deep .mat-mdc-tab-body-content .mat-content .mat-wt-tag {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

::ng-deep .mat-mdc-tab-body-content .mat-content .mat-wt-tag .mat-wt-child {
  padding: 0px 20px;
  color: #7A7A7A;
}

::ng-deep .mat-mdc-tab-body-content .mat-content .mat-wt-tag .mat-wt-child .p-badge {
  min-width: 90px;
}

::ng-deep .mat-mdc-tab-body-content .mat-content .mat-btn {
  display: flex;
  align-items: center;
  padding-left: 100px;
}

::ng-deep .mat-mdc-tab-body-content .mat-content .mat-btn .mat-btn-child {
  padding: 0px 10px;
}

::ng-deep .mat-mdc-tab-body-content .mat-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.wt-table::ng-deep th, 
.wt-table::ng-deep td {
  border-width: 1.2px !important;
  border-color: #EBEBEB;
}

.wt-table::ng-deep th {
  background-color: #A5CDE0 !important;
  line-height: 0.9rem !important;
  font-weight: 650 !important;
  font-size: small !important;
}

.wt-table::ng-deep td {
  line-height: 5rem !important;
  background-color: #FDF7BB;
  font-weight: 400 !important;
}

.day-label {
  color: #7A7A7A;
  font-weight: 400;
}