<header>
  <div class="container">
    <div class="inner-wrap">
      <div class="inner-logo">
        <a href="#">
          <img
            src="https://res.cloudinary.com/dnd0qe90c/image/upload/v1722012761/iyimcveq5hi1xflqatgf.jpg"
            alt="logo"
          />
          <span>Timesheet</span>
        </a>
      </div>

      <div class="inner-menu">
        <ul>
          <li>
            <a
              href="https://www.google.com/intl/vi_vn/docs/about/"
              target="_blank"
              ><i class="fa-solid fa-file-arrow-up"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.google.com/intl/vi_vn/docs/about/"
              target="_blank"
              ><i class="fa-solid fa-file-lines"></i
            ></a>
          </li>

          <li>
            <a
              href="http://localhost:4200/login"
              ><i class="fa-solid fa-arrow-right-from-bracket" (click)="logout()"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
