ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  list-style-type: none;
  border: 1px solid #ddd;
  border-radius: 30%;
  margin: 5px 5px;
  padding: 2px 2px;
  display: inline-block;
}

ul li:hover {
  background-color: #BB2019;
  color: white;
}