.btn-element {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.caption-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}

.elm-tbl {
  margin: 0 10px;
}