<form (ngSubmit)="onSubmit()" #timesheetForm="ngForm">
  <div class="p-fluid">
    <small class="p-error" *ngIf="!newTimesheet.taskId"
      >Please choose a task
    </small>
    <p-dropdown
      [options]="taskList"
      [formControl]="taskControl"
      [(ngModel)]="editTaskId"
      placeholder="Select a Task"
      optionLabel="name"
      optionValue="id"
      appendTo="body"
      required
    >
      <ng-template let-task pTemplate="item">
        <div *ngIf="!isEdit"><b>[{{ task.project.name }}]</b> {{ task.name }}</div>
        <div *ngIf="isEdit"><b>[{{ task.project.name }}]</b> {{ task.name }}</div>
      </ng-template>
    </p-dropdown>
  </div>

  <br />

  <div class="p-fluid">
    <p-floatLabel>
      <input
        pInputText
        [(ngModel)]="newTimesheet.note"
        [value]="newTimesheet.note"
        name="note"
        type="text"
        *ngIf="!isEdit"
      />
      <input
        pInputText
        [(ngModel)]="editTimesheetObject.note"
        [value]="editTimesheetObject.note"
        name="note"
        type="text"
        *ngIf="isEdit"
      />
      <label for="note">Note</label>
    </p-floatLabel>
  </div>

  <br />

  <div class="p-fluid">
    <p-floatLabel>
      <p-inputNumber
        [(ngModel)]="newTimesheet.workingTime"
        placeholder=""
        [showButtons]="true"
        inputId="workingTime"
        name="workingTime"
        [min]="0"
        [max]="24"
        *ngIf="!isEdit"
      />
      <p-inputNumber
        [(ngModel)]="editTimesheetObject.workingTime"
        placeholder=""
        [showButtons]="true"
        inputId="workingTime"
        name="workingTime"
        [min]="0"
        [max]="24"
        *ngIf="isEdit"
      />
      <label for="workingTime">WorkingTime*</label>
    </p-floatLabel>
  </div>

  <br />

  <div class="btn-sub">
    <p-button class="p-fluid" type="submit" label="Create new timesheet" icon="pi pi-check" *ngIf="!isEdit" />
    <p-button class="p-fluid" type="submit" label="Edit timesheet" icon="pi pi-check" *ngIf="isEdit" />
  </div>
</form>
