@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

:root{
  --color-one: #BB2019;
  --color-two: #747474;
  --color-three: #3B82F6;
  --font: "Roboto", sans-serif;
}
::selection {
  background-color: #e2eefe;
  color: #1D4ED8;
}

body {
  font-family: var(--font);
}

a {
  text-decoration: none;
}

.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  height: calc(100vh - 70px);
  overflow: hidden;
}

.sidebar {
  flex: 0 0 25%;
  height: 100vh;
  width: 10vw;
  overflow-y: auto;
  background-color: white;
}

.main-content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}

header {
  box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
  width: 100%;
  margin-left: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid #ddd;
}

